<h1>Welcome to the Cusious Cosplay Company API</h1>
<p>We are sorry to inform you, but our website does not currently support an API. We plan to implement one very soon.</p>
<p>If you are interested in more details about the blood and mud of our website, please see our FAQ or our open source project over at <%= link_to "GitHub", "https://github.com/ChioriGreene/CuriousCosplayCo" %></p>